body {
  margin: 0;
}

.container {
  display: flex;
  flex-flow: row;
  margin: 0;
}

.window {
  border: 2px solid #00FF00;
  background-color: #00FFFF;
  padding: 5px 2px 5px 2px;
}

#col0 {
  flex-grow: 1;
  padding-bottom: 100vh;
}

#col1 {
  flex-grow: 5;
  padding-bottom: 100vh;
}

#col2 {
  flex-grow: 1.5;
}
